html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
html {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: 400;
    vertical-align: middle;
}
q, blockquote {
    quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}
a img {
    border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}

.hidden{display:none !important}

pre table {
    border-spacing: 0;
}
pre table td {
    padding: 5px;
}
pre table .gutter {
    text-align: right;
}
pre, pre .w {
    color: #586e75;
}
pre .err {
    color: #151515;
    background-color: #ac4142;
}
pre .c, pre .cm, pre .c1, pre .cs {
    color: #505050;
}
pre .cp {
    color: #f4bf75;
}
pre .nt {
    color: #f4bf75;
}
pre .o, pre .ow {
    color: #d0d0d0;
}
pre .p {
    color: #d0d0d0;
}
pre .gi {
    color: #90a959;
}
pre .g {
    color: #ac4142;
}
pre .gh {
    color: #6a9fb5;
    background-color: #151515;
    font-weight: 700;
}
pre .kwd, pre .kn, pre .kp, pre .kr {
    color: #aa759f;
}
pre .kc {
    color: #d28445;
}
pre .kt {
    color: #d28445;
}
pre .kd {
    color: #d28445;
}
pre .s, pre .sb, pre .sc, pre .sd, pre .str, pre .sh, pre .sx, pre .s1 {
    color: #90a959;
}
pre .sr {
    color: #75b5aa;
}
pre .si {
    color: #8f5536;
}
pre .se {
    color: #8f5536;
}
pre .nn {
    color: #f4bf75;
}
pre .nc {
    color: #f4bf75;
}
pre .no {
    color: #f4bf75;
}
pre .pln {
    color: #6a9fb5;
}
pre .m, pre .mf, pre .mh, pre .mi, pre .il, pre .mo {
    color: #90a959;
}
pre .ss {
    color: #90a959;
}
* {
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    background: #26272b;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
*[class*="docs__"] {
    float: left;
}

#wrapper {
    margin: 0 auto;
    padding: 10px;
    position: relative;
    max-width: 1000px;
}
#sidebar {
    width: 20%;
    padding: 25px 0;
    position: fixed;
    top: 0;
    float: left;
}

#marionette-docs {
  margin: 20px 0;
}

#content {
    width: 80%;
    background: #ffffff;
    margin-left: 20%;
    padding: 0 30px 30px;
    position: relative;
    z-index: 2;
    color: #414141;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    float: left;
}
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
    font-size: 22px;
    margin: 30px 0;
    border-bottom: solid 1px #e8e8e8;
    padding-bottom: 10px;
}
#content ul {
    margin: 10px 0;
}
#content ul li {
    margin-top: 10px;
    font-size: 13px;
}
#content ul li a {
    text-decoration: none;
    border-bottom: solid 1px #e8e8e8;
}
#content ul li ul {
    margin-left: 20px;
}
#content p {
    font-size: 15px;
    line-height: 25px;
}
#content code {
    font-family: monospace;
    background: #F6F6F5;
    padding: 4px;
    color: #414141;
}

#content pre code {
    background: 0;
    padding: 0;
    color: #586e75
}
#content pre .err {
    color: #414141;
    background-color: transparent;
}
#content pre {
    font-family: monospace;
    padding: 20px;
    background: #fcfcfc;
    margin: 20px 0;
    border-radius: 2px;
    border: solid 1px #E8E8E8;
    word-wrap: break-word;
}
#content a {
    color: #2F2F2F;
    font-size: 14px;
    text-decoration: none;
}
.toc a, .hd h3 {
    color: #FFF;
    font-size: 14px;
}

.toc .active a {
  font-weight: bold;
}

.hd h3 {
  font-weight: 700;
}

.toc a h3 {
    margin: 0;
}
.toc a {
    margin-bottom: 15px;
    display: block;
    text-decoration: none;
    font-size: 13px;
}
.toc a h3 {
    font-weight: 700;
}
