html {
  color:                  $gray;
  line-height:            32px;
  -webkit-font-smoothing: antialiased;

  font: {
    size:   $large-font;
    family: $serif;
  }
}

  border-top: 1px solid darken($light-blue, 3%);
h1, h2, h3, h4, h5, h6 {
  font-family: $sans;
}

pre {
  padding:    20px;
  font-size:  $small-font;
}

pre, code {
  color:         yellow;
  border:        0;
  background:    none;
  border-radius: 0;
  margin-bottom: 0;
}
