.docs,
.docs body {
  position: relative;
  width: 100%;
  height: 100%;
}

.docs__sidebar {
  position: absolute;
  left: 0;
  width: 200px;
  height: 100%;
  background: $light-blue;
  overflow: auto;
  padding: 10px;
  border-right: 1px solid darken($light-blue, 7%);
  font-size: 15px;

  a {
    color: $seafoam;
  }
}

.docs__content {
  position: absolute;
  height: 100%;
  left: 200px;
  right: 0;
  overflow: auto;
  padding: 20px;
}
