.primary-logo {
  margin: 20px 0 30px;

  @include col(6/12, $offset: 3/12);
  @include breakpoint($breakpoint) {
    @include col(3/12, $offset: 4.5/12);
    margin-top: 40px;
  }
  @include breakpoint($large-breakpoint) {
    @include col(1.975/12, $offset: 5.0125/12);
  }
}

.download-button {
  margin-bottom: 15px;

  span {
    font-size: $small-font;
  }

  @include breakpoint($breakpoint) {
    margin-bottom: 20px;
  }
}

.on-github {
  color:        $gray;
  line-height:  16px;

  font: {
    size:   $small-font;
    family: $sans;
  }

  &:hover {
    text-decoration: none;
    color: darken($gray, 5%);
  }
}

.masthead {
  text-align: center;
  background: $header-grey;

  padding: {
    left:   $center_pad;
    right:  $center_pad;
    bottom: 20px;
  }

  @include background-image(radial-gradient(center center, 100% 100%, rgba(255,255,255,.75) 0%, rgba(0, 0, 1, 0.08) 100%));
  @include cf;

  a {
    @include col(8/12, $offset: 2/12);
    @include breakpoint($breakpoint) {
      @include col(3/12, $offset: 4.5/12);
    }
  }
}
