.masthead {
  @include cf;
  box-shadow: 0 1px 0 #cbd9e1;
  background: #eff3f7;
  background: radial-gradient(#fafbfd, #e3ecf1);
  text-align: center;
  padding-left: $center_pad;
  padding-right: $center_pad;
  > div {
    @include breakpoint($breakpoint) {
      @include center($center_mw, $center_pad);
    }
  }
  img {
    @include col(6/12, $offset: 3/12);
    margin-top: 20px;
    margin-bottom: 30px;
    @include breakpoint($breakpoint) {
      @include col(3/12, $offset: 4.5/12);
      margin-top: 40px;
    }
    @include breakpoint(1050px) {
      @include col(1.975/12, $offset: 5.0125/12);
    }
  }
  a {
    @include col(8/12, $offset: 2/12);
    clear: both;
    text-align: center;
    margin-bottom: 20px;
    font-family: $sans;
    font-size: 12px;
    line-height: 16px;
    color: #818285;
    transition: all 200ms ease;
    @include breakpoint($breakpoint) {
      @include col(3/12, $offset: 4.5/12);
      margin-bottom: 60px;
    }
    @include breakpoint(1050px) {
      @include col(2/12, $offset: 5/12);
    }
    &:hover {
      text-decoration: none;
      color: darken(#818285, 5%);
    }
  }
  .dl_btn {
    text-decoration: none;
    background: #1abc9c;
    margin-bottom: 15px;
    color: #fff;
    border-radius: 999px;
    font-size: 16px;
    height: 36px;
    line-height: 36px;
    span {
      font-size: 12px;
    }
    &:hover {
      color: #fff;
      background: darken(#1abc9c, 1%);
    }
    @include breakpoint($breakpoint) {
      margin-bottom: 20px;
    }
  }
}

.ribbon {
  background-color: #f3f7f9;
  border-top: solid 1px #ccd9e1;
  border-left: 0;
  border-right: 0;
  padding-left: $center_pad;
  padding-right: $center_pad;
  margin-bottom: 20px;
  @include box-shadow(0 1px 0 rgba(204,217,225,.7));
  @include breakpoint($breakpoint) {
    margin-bottom: 74px;
    padding-top: 40px;
    padding-bottom: 40px;
  }
  > div {
    @include breakpoint($breakpoint) {
      @include center($center_mw, $center_pad);
      position: relative;
      left: -32px;
    }
  }
  h1 {
    font-size: 18px;
    line-height: 26px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #818285;
    position: relative;
    span {
      color: #cf2227;
      @include breakpoint($breakpoint) {
        position: absolute;
        padding-left: .25em;
      }
    }
    @include breakpoint($breakpoint) {
      font-size: ms(16);
    }
  }
  &:hover span {
    -webkit-animation: boogie 2s alternate infinite ease;
  }
}
