.ribbon {
  padding:          0 $center_pad;
  margin-bottom:    20px;

  background-color: lighten($light-blue, 3%);

  border: {
    top:    solid 1px #ccd9e1;
    top:    1px solid darken($light-blue, 7%);
    bottom: 1px solid darken($light-blue, 7%);
    left:   0;
    right:  0;
  }

  @include box-shadow(0 1px 0 rgba(204,217,225,.7));

  .headline {
    padding: 40px;
    span { color: $red; }
  }
}
