.ribbon {
  padding:          0 $center_pad;
  margin-bottom:    20px;
  background-color: $header-grey;


  border: {
    top:    solid 1px #ccd9e1;
    left:   0;
    right:  0;
  }

  @include box-shadow(0 1px 0 rgba(204,217,225,.7));

  .headline {
    padding: 40px;
    span { color: $red; }
  }
}
