@charset "UTF-8";
@import 'compass';
@import 'rgbapng';
@import 'jeet';
@import 'jeet/_reset';
@import 'fonts/fonts';
@import 'prettify/prettify';
@import 'prettify/marionette';
@import 'variables';
@import 'animations';

html {
    font-family: $serif;
    color: $gray;
    font-size: 20px;
    line-height: 32px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: $sans;
}
.masthead {
    @include cf;
    box-shadow: 0 1px 0 #cbd9e1;
    background: #eff3f7;
    background: radial-gradient(#fafbfd, #e3ecf1);
    text-align: center;
    padding-left: $center_pad;
    padding-right: $center_pad;
    > div {
        @include breakpoint($breakpoint) {
            @include center($center_mw, $center_pad);
        }
    }
    img {
        @include col(6/12, $offset: 3/12);
        margin-top: 20px;
        margin-bottom: 30px;
        @include breakpoint($breakpoint) {
            @include col(3/12, $offset: 4.5/12);
            margin-top: 40px;
        }
        @include breakpoint(1050px) {
            @include col(1.975/12, $offset: 5.0125/12);
        }
    }
    a {
        @include col(8/12, $offset: 2/12);
        clear: both;
        text-align: center;
        margin-bottom: 20px;
        font-family: $sans;
        font-size: 12px;
        line-height: 16px;
        color: #818285;
        transition: all 200ms ease;
        @include breakpoint($breakpoint) {
            @include col(3/12, $offset: 4.5/12);
            margin-bottom: 60px;
        }
        @include breakpoint(1050px) {
            @include col(2/12, $offset: 5/12);
        }
        &:hover {
            text-decoration: none;
            color: darken(#818285, 5%);
        }
    }
    .dl_btn {
        text-decoration: none;
        background: #1abc9c;
        margin-bottom: 15px;
        color: #fff;
        border-radius: 999px;
        font-size: 16px;
        height: 36px;
        line-height: 36px;
        span {
            font-size: 12px;
        }
        &:hover {
            color: #fff;
            background: darken(#1abc9c, 1%);
        }
        @include breakpoint($breakpoint) {
            margin-bottom: 20px;
        }
    }
}

.ribbon {
    background: #F4F8F9;
    border: 1px rgba(204,217,225,.7) solid;
    border-left: 0;
    border-right: 0;
    padding-left: $center_pad;
    padding-right: $center_pad;
    margin-bottom: 20px;
    @include breakpoint($breakpoint) {
        margin-bottom: 74px;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    > div {
        @include breakpoint($breakpoint) {
            @include center($center_mw, $center_pad);
            position: relative;
            left: -32px;
        }
    }
    h1 {
        font-size: 18px;
        line-height: 26px;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 10px;
        color: #818285;
        position: relative;
        span {
            color: #cf2227;
            @include breakpoint($breakpoint) {
                position: absolute;
                padding-left: .25em;
            }
        }
        @include breakpoint($breakpoint) {
            font-size: ms(16);
        }
    }
    &:hover span {
        -webkit-animation: boogie 2s alternate infinite ease;
    }
}
.about {
    margin: 15px auto 20px;
    @include breakpoint($breakpoint) {
        margin-bottom: 74px;
    }
    font-size: 16px;
    line-height: 26px;
    padding-left: $center_pad;
    padding-right: $center_pad;
    @include breakpoint($breakpoint) {
        @include center($center_mw, $center_pad);
        font-size: 20px;
        line-height: 32px;
    }
    article {
        margin-bottom: 20px;
        @include breakpoint($breakpoint) {
            @include col(6/12, $offset: 1/12);
        }
    }
    @include breakpoint($breakpoint) {
        aside {
            @include col(3/12, $offset: 1/12);
        }
    }
    h2 {
        font-size: 24px;
        line-height: 30px;
        color: $red;
        margin-bottom: 15px;
    }
    nav {
        font-family: $sans;
        background: #dbe4ea;
        padding: 30px 30px 10px;
        border-radius: 5px 5px 0 0;
        border: 1px solid #dbe4ea;
        border-bottom: 0;
        font-size: 14px;
        line-height: 20px;
        overflow: hidden;
        h3 {
            text-transform: uppercase;
            color: #818285;
            letter-spacing: .25em;
            font-size: 12px;
            line-height: 16px;
            margin-bottom: 10px;
        }
        ul {
            padding-left: 1em;
            list-style: square;
            color: #1abc9c;
            a {
                color: #1abc9c;
                text-decoration: none;
                font-weight: bold;
                font-size: 16px;
                transition: all 200ms ease;
                &:hover {
                    color: darken(#1abc9c, 5%);
                }
            }
        }
        &:nth-child(2) {
            background: #f4f8f9;
            border-radius: 0 0 5px 5px;
            border: 1px solid #dbe4ea;
            border-top: 0;
            font-size: 16px;
            span {
                color: #818285;
            }
            .note {
                font-size: 12px;
                color: #a7a9ac;
                line-height: 18px;
            }
            ul {
                padding-left: 0;
                list-style: none;
            }
        }
    }
}
.code_examples {
    @include cf;
    padding-left: $center_pad;
    padding-right: $center_pad;
    margin-bottom: 20px;
    @include breakpoint($breakpoint) {
        @include center($center_mw, $center_pad);
        margin-bottom: 74px;
    }
    > div {
        @include breakpoint($breakpoint) {
            @include span(1/3);
        }
        overflow: hidden;
        border-right: 1px #2c3e50 solid;
        background: #34495E;
        margin-bottom: 20px;
        border-radius: 5px;
        @include breakpoint($breakpoint) {
            border-radius: 0;
            &:nth-child(1) {
                border-radius: 5px 0 0 5px;
                h4 {
                    border-radius: 5px 0 0 0;
                }
            }
            &:nth-child(3) {
                border-radius: 0 0 5px 0;
                h4 {
                    border-radius: 0 5px 0 0;
                }
            }
        }
        &:nth-child(3) {
            background: #f8f8f8;
            border-right: 0;
            margin-bottom: 0;
            header {
                position: relative;
            }
            h4 {
                background-color: #ececec;
                @include box-shadow(0 1px 0 rgba(0,0,1,.2));
                @include background-image(linear-gradient(bottom, rgba(0,0,1,.05) 0%, rgba(255,255,255,.05) 100%));
                color: #818285;
            }
            .result {
                padding: 20px;
                font-size: 16px;
                font-family: $sans;
                p {
                    margin-bottom: 0;
                }
            }
        }
    }
    header {
        position: relative;
    }
    h4 {
        font-size: 12px;
        text-transform: uppercase;
        letter-spacing: .25em;
        color: #dbe4ea;
        background: #304357;
        text-align: center;
        margin-bottom: 0;
        line-height: 50px;
        border-radius: 5px 5px 0 0;
    }
    .slider1 {
        position: absolute;
        top: 20px;
        left: 20px;
        padding-left: 0;
        margin-bottom: 0;
        height: 10px;
        li {
            list-style: none;
            float: left;
            margin-right: 5px;
            margin-bottom: 0;
            &:last-child {
                margin-right: 0;
            }
        }
        img {
            width: 10px;
            height: 10px;
            display: block;
        }
    }
}
@include breakpoint($breakpoint) {
    .lt-ie9 .code_examples > div {
        width: 32%;
    }
}
pre {
    padding: 20px;
    font-size: 12px;
}
pre, code {
    background: none;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    color: yellow;
}
.featured_videos {
    border: 1px solid #dbe4ea;
    border-left: 0;
    border-right: 0;
    font-size: 16px;
    line-height: 26px;
    padding-top: 20px;
    padding-bottom: 20px;
    p:last-of-type {
        margin-bottom: 0;
    }
    > div {
        @include center($center_mw, $center_pad);
    }
    header {
        position: relative;
        @include breakpoint($breakpoint) {
            @include col(6/12, $offset: 5/12);
            top: 49px;
            margin-top: -49px;
        }
        h3 {
            font-size: 24px;
            line-height: 30px;
            color: $red;
        }
        ul {
            padding-left: 0;
            list-style: none;
        }
    }
    .vid {
        margin-bottom: 20px;
        border-radius: 10px;
        overflow: hidden;
        .fluid-width-video-wrapper {
            margin-bottom: 12px;
        }
        p {
            font-size: 12px;
            line-height: 16px;
            font-family: $sans;
        }
    }
    .slider2 {
        position: absolute;
        right: 0;
        top: 10px;
        span {
            float: left;
            margin-left: 10px;
            display: block;
            width: 10px;
            height: 10px;
            border-radius: 999px;
            border: 1px solid $red;
            &.cycle-pager-active, &:hover {
                background: $red;
            }
        }
    }
    @include breakpoint($breakpoint) {
        padding-top: 74px;
        padding-bottom: 74px;
        font-size: 20px;
        line-height: 32px;
        .vid {
            @include col(4/12, $offset: 1/12);
        }
        figcaption {
            @include col(6/12);
            margin-top: 49px;
        }
    }
}
.support {
    font-size: 16px;
    line-height: 26px;
    padding: 20px 0 0;
    @include breakpoint($breakpoint) {
        padding: 74px 0 40px;
        font-size: 20px;
        line-height: 32px;
    }
    > div {
        @include center($center_mw, $center_pad);
    }
    nav {
        font-family: $sans;
        margin-bottom: 20px;
        font-size: 16px;
        line-height: 26px;
        @include breakpoint($breakpoint) {
            @include col(3/12);
            @include shift(8/12);
        }
        a {
            color: #1ABC9C;
            display: block;
            margin-bottom: 5px;
            padding-left: 30px;
            transition: all 200ms ease;
            &:hover {
                color: darken(#1ABC9C, 5%);
                text-decoration: none;
            }
        }
        i {
            float: left;
            position: relative;
            top: 7px;
            color: #818285;
        }
        @include breakpoint($breakpoint) {
            margin-top: 40px;
        }
    }
    .support_article {
        @include breakpoint($breakpoint) {
            @include col(6/12);
            @include shift(-2/12);
        }
        h3 {
            font-size: 24px;
            line-height: 30px;
            color: $red;
        }
    }
    .donate {
        font-family: $sans;
        margin-bottom: 20px;
        .donate_btn {
            @include col(1/2);
            margin-top: 5px;
            text-align: center;
            font-size: 14px;
            line-height: 20px;
            background: #ffbf5e;
            padding: 5px;
            letter-spacing: -.035em;
            color: #003366;
            font-style: italic;
            text-decoration: none;
            font-weight: bold;
            border-radius: 999px;
            margin-bottom: 20px;
            &:hover {
                background: darken(#ffbf5e, 3%);
            }
        }
        p {
            clear: both;
            display: block;
            font-size: 12px;
            line-height: 16px;
            color: #a7a9ac;
        }
        @include breakpoint($breakpoint) {
            .donate_btn {
                @include col(3/12);
                text-align: center;
            }
            p {
                @include col(8/12);
                margin-top: 14px;
            }
        }
    }
}
.stickers {
    font-family: $sans;
    margin-bottom: 40px;
    > div {
        @include center($center_mw, $center_pad);
    }
    article {
        font-size: 16px;
        line-height: 26px;
        p {
            margin-bottom: 0;
        }
        a {
            display: inline-block;
            margin-bottom: 20px;
            color: #1ABC9C;
            font-weight: bold;
            font-size: 12px;
            line-height: 18px;
            text-decoration: none;
            transition: all 200ms ease;
            &:hover {
                color: darken(#1ABC9C, 5%);
            }
        }
    }
    h5 {
        font-size: 12px;
        line-height: 16px;
        color: $red;
        text-transform: uppercase;
        letter-spacing: .075em;
        margin-bottom: 10px;
    }
    img {
        @include col(2/7);
        &:last-child {
            @include col(3/7);
        }
    }
    @include breakpoint($breakpoint) {
        margin-bottom: 74px;
        article {
            @include col(3/12);
            @include shift(8/12);
        }
        .sticker_pics {
            @include col(7/12);
            @include shift(-2/12);
        }
    }
}

footer {
    background: #f4f8f9;
    font-size: 16px;
    line-height: 20px;
    font-family: $sans;
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #dbe4ea;
    text-align: center;
    color: darken(#dbe4ea, 10%);
    > div {
        @include center($center_mw, $center_pad);
    }
    @include breakpoint($breakpoint) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    p {
        margin-bottom: 20px;
    }
    a {
        @include col(4/12, $offset: 4/12);
        @include breakpoint($breakpoint) {
            @include col(2/12, $offset: 5/12);
        }
        img {
            display: block;
        }
    }
}

.browsehappy {
    background: lighten(black, 15%);
    font: 13px/21px helvetica;
    color: #fff;
    border-bottom: 5px solid lighten(black, 30%);
    cursor: pointer;
    p {
        margin: 0;
        padding: 0;
    }
    a {
        color: lighten(yellow, 25%);
    }
}
