@import 'compass';
@import 'compass/reset';
@import 'fonts/fonts';
@import  'vendor/_mo';

$mariontte: #cf2227;
$copy:      #8d8f91;
$block:     25px;

* {
  -webkit-font-smoothing: antialiased;

  @include box-sizing("border-box");
}

html {
  color:            $copy;
  position:         absolute;
  text-align:       left;
  font-family:      "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #d0dfe8;

  @include size(100%);
  @include background-image(radial-gradient(center, ellipse cover, rgba(255,255,255,.75) 0%, #d0dfe8 100%));
}

.headline {
  display:    inline-block;

  margin: {
    left:   6px;
    right: -6px;
  }
}

.date {
  font-weight: 400;
}

.header {
  color:      #FFF;
  height:     245px;
  padding:    $block;
  position:   relative;
  text-align: center;

  font: {
    size:   36px;
    weight: 300;
  }

  background: image_url("skyline.jpg") {
    size: cover;
    repeat: no-repeat;
    position: center center;
  }
}

.logo {
  margin: {
    top:    -38px;
    right:  -47px;
  }

  @include pos(absolute, 50%, 50%);
}

.contain {
  background: #ffffff;
  max-width: 350px;
  margin: $block*2 auto;
}

.location {
  width:        160px;
  padding:      $block;
  font-size:    14px;
  line-height:  23px;
}

.meetup-time {
  clear:        both;
  width:        190px;
  padding:      $block;
  font-size:    20px;
  line-height:  29px;
}

.meetup-details, .talks {
  background: lighten($copy, 42%);
}

.team {
  padding: $block;
}

.person {
  margin-bottom:  $block;
  overflow:       hidden;
  font-size:      16px;
}

.details {
  width:        60%;
  font-size:    14px;
  text-align:   left;
  line-height:  25px;
  padding-left: $block;
}

.image-wrap, {
  width:    40%;
  position: relative;

  > img {
    width: 100%;
  }
}

.logo-image {
  height: 36px;

  @include pos(absolute, false, 10px, 10px);
}


.talk-title {
  font-weight: bold
}

.mc-embedded-subscribe-form {
  padding:        0 $block;
  position:       relative;
  margin-bottom:  $block;
}

.mc-embedded-subscribe {
  border:     0;
  color:      #FFF;
  cursor:     pointer;
  display:    inline-block;
  padding:    10px;
  background: $mariontte;
  margin-top: -18px;
  font: {
    size: 14px;
    weight: bold;
  }

  @include pos(absolute, 50%, $block * 1.3);
  @include border-radius(4px);

  -webkit-appearance: none;
}

input[type="email"] {
  width: 100%;
  font-size: 16px;
  padding: $block/1.4;
  border: solid 1px lighten($copy, 40%);

  @include border-radius(4px);
  &:focus {
    border: solid 1px lighten($copy, 10%);
    outline: none;
  }
}

.right {
  float: right;
}

.left {
  float: left;
}

.cl {
  clear: both;
}
