@import 'compass';
@import 'compass/reset';
@import 'fonts/fonts';
@import  'vendor/_mo';

$mariontte: #cf2227;
$small-snap: 650px;

* {
  @include box-sizing("border-box");
}

html {
  background-color: #FFF;
  position: absolute;
  width: 100%;
  height: 100%;
  text-align: center;
  font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  border-top: solid 2px $mariontte;

  -webkit-font-smoothing: antialiased;
  @include background-image(radial-gradient(center, ellipse cover, rgba(255,255,255,.75) 0%, #d0dfe8 100%));
}

.meetup-details {
  font-weight: bold;
  max-width: 600px;
  margin: 50px auto 0;
  text-align: left;
  line-height: 35px;
  font-size: 19px;
  padding: 0 20px;
}

.contain {
  max-width: 900px;
  margin: 0 auto;
}

.mid-cta {
  margin: 70px 0;
}

.left {
  float: left;
}

.headline {
  color: $mariontte;

  font: {
    size: 54px;
    weight: bold;
  }

  &.sub {
    font-size: 40px;
  }

  @include below($small-snap) {
    font-size: 40px;
  }
}

.footer-signup-cta {
  padding: 30px;
  margin-top: 100px;
  background: $mariontte;
}

.logo {
  max-width: 163px;
  margin: 60px 0;
  @include below($small-snap) {
    max-width: 100px;
    margin: 20px 0;
  }
}

.person {
  overflow: hidden;
  padding: 30px;
  border-top: solid 1px #FFF;

  &:nth-child(1) {
    border-top: none;
  }
}

.image-wrap {
  position: relative;
  max-width: 190px;
  overflow: hidden;
  border: solid 1px rgb(197, 197, 197);
  @include border-radius(10px);
}

.logo-image {
  position: absolute;
  bottom: 10px;
  right: 10px;
  @include below($small-snap) {
    display: none;
  }
}

.person-image {
  @include below($small-snap) {
    width: 100px;
  }
}
.details {
  margin-left: 30px;
  text-align: left;
  line-height: 25px;
}

.talk-title {
  font-weight: bold
}

.mc-embedded-subscribe-form {
  position: relative;
  max-width: 500px;
  display: block;
  margin: 0 auto;
}

.mc-embedded-subscribe {
  position: absolute;
  right: 10px;
  top: 50%;
  margin-top: -18px;
  display: inline-block;
  background: $mariontte;
  border: 0;
  color: #FFF;
  padding: 10px;

  font: {
    size: 14px;
    width: bold;
  }

  @include border-radius(4px);
}

input[type="email"] {
  width: 100%;
  max-width: 500px;
  border: 0;
  font-size: 16px;
  padding: 14px;
  border: solid 1px rgb(155, 155, 155);

  @include border-radius(4px);
  &:focus {
    outline: none;
  }
}
