@mixin standard-transition($type) {
  $easing: ease;

  @if $type == "out" {
    $easing: easeOutSine;
  }
  @if $type == "in" {
    $easing: easeInSine;
  }

  @include ceaser-transition($easing, all, 250ms, 0s);
}
