{{> header}}
<a id="improve" href="#" class="btn btn-default">
  <i class="glyphicon glyphicon-edit">&nbsp;</i>
  Improve this doc
</a>
<a id="source" href="#" class="btn btn-default">
  <i class="glyphicon glyphicon-eye-open">&nbsp;</i>
  View the source
</a>
{{{content}}}
{{> footer}}
