<section class="code-samples column-contain">
    <div class="code-sample-block first-sample-block">
        <h4 class="code-header">Wreqr.CommandStorage</h4>
        <pre class="prettyprint"><code>var CommandStorage = function(options) {
            this.options = options;
            this._commands = {};

            if (_.isFunction(this.initialize)) {
                this.initialize(options);
            }
        };</code></pre>
    </div>
    <div class="code-sample-block second-sample-block">
        <h4 class="code-header">Callbacks</h4>
        <pre class="prettyprint"><code>Marionette.Callbacks = function() {
            this._deferred = Marionette.$.Deferred();
            this._callbacks = [];
        };</code></pre>
    </div>
    <div class="code-sample-block code-results-block">
        <h4 class="code-header code-header-results">Results</h4>
        <div class="result">
          <ul>
              <li>List Item Here</li>
              <li>List Item Here</li>
          </ul>
        </div>
    </div>
    <div class="cl"></div>
</section>
