<footer class="footer gw">
  <div>
    <div class="g two-thirds">
      <div class="footer__column">
        <h1>Support Marionette.js</h1>
        <p>Marionette needs your support, but not everyone can offer assitance with code, bug submissions, and answering questions. If you're using Marionette and you're finding that it is saving you as much time and effort as we believe it does, then please consider financial support for the project.</p>
        <ul class="footer__column__donations">
          <li>
            <a class="FlattrButton" style="display:none;" href="http://marionettejs.com"></a>
            <noscript>
              <a href="http://flattr.com/thing/922031/Backbone-Marionette" target="_blank">
                <img src="http://api.flattr.com/button/flattr-badge-large.png" alt="Flattr this" title="Flattr this" border="0">
              </a>
            </noscript>
          </li>
          <li>
            <a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=7SJHYWJ487SF4">
              <img src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_SM.gif" alt="Donate via PayPal" border="0">
            </a>
          </li>
          <li>
            <iframe style="border: 0; margin: 0; padding: 0;"
            src="https://www.gittip.com/derickbailey/widget.html"
            width="48pt" height="20pt"></iframe>
          </li>
        </ul>
      </div>
    </div>
    <div class="g one-third">
      <div class="footer__column">
        <h1>Get in touch</h1>
        <p>You can find Marionette and its team at these places:</p>
        <ul>
          <li><a href="http://twitter.com/marionettejs">@marionettejs on Twitter</a></li>
          <li><a href="http://freenode.net">#marionette on freenode IRC</a></li>
          <li><a href="https://groups.google.com/forum/#!forum/backbone-marionette">Backbone-Marionette on Google&nbsp;Groups</a></li>
          <li><a href="http://stackoverflow.com/questions/tagged/backbone.marionette">Backbone.Marionette on StackOverflow</a></li>
        </ul>
        <p>
          <iframe src="http://ghbtns.com/github-btn.html?user=marionettejs&repo=backbone.marionette&type=watch&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
          <iframe src="http://ghbtns.com/github-btn.html?user=marionettejs&repo=backbone.marionette&type=fork&count=true" allowtransparency="true" frameborder="0" scrolling="0" width="110" height="20"></iframe>
        </p>
      </div>
    </div>
    <div class="g one-whole">
      <p class="footer__about">
        Website Design &amp; Development: <br><a href="http://medienfreunde.com">Medienfreunde</a> <span class="middot">&middot;</span> <br>Logo Design:<br> <a href="http://visged.de">Stephan Tyziak</a>
      </p>
    </div>
  </div>
</footer>
