<header class="header gw">
  <section>
    <div class="g one-third">
      <div class="header__item header__item--normal">
        <div class="pendulum-parent">
          <div class="pendulum-child">
            <div class="header__item__body">
              <b>Download</b>
              <a href="#download"><%= data.global.version %></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="g one-third">
      <div class="header__item--logo">
        <%= image_tag 'logo.png', width: '337', height: '460', alt: 'Marionette.js – A scalable and composite application architecture for Backbone.js' %>
      </div>
    </div>
    <div class="g one-third no-padding-left">
      <div class="header__item header__item--reverse">
        <div class="pendulum-parent">
          <div class="pendulum-child">
            <div class="header__item__body">
              <a href="https://github.com/marionettejs/backbone.marionette">Marionette.js on GitHub</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="header__introduction five-sixths">
    <h1 class="header__introduction__body">
      Make your Backbone applications dance!
    </h1>
    <div class="header__introduction__buttons">
      <a href="#builds">Current Version:<br><%= data.global.version %></a>
      <a href="https://github.com/marionettejs/backbone.marionette">Marionette.js on GitHub</a>
    </div>
  </section>
</header>
