= stylesheet_link_tag "meetup"

%h1
  %span.location NYC
  %span.date 05.22.14
= image_tag 'meetup_logo.png', class: "logo"
#mc_embed_signup
  %form#mc-embedded-subscribe-form.validate{action: "http://samx.us7.list-manage1.com/subscribe/post?u=8ffd71c4689a0f4eb8f9b2059&id=f96fbb1cfe", method: "post", name: "mc-embedded-subscribe-form", novalidate: "", target: "_blank"}
    .mc-field-group
      %input#mce-EMAIL.required.email{name: "EMAIL", type: "email", value: "", placeholder: "you@email.com"}/
    #mce-responses.clear
      #mce-error-response.response{style: "display:none"}
      #mce-success-response.response{style: "display:none"}
    %div{style: "position: absolute; left: -5000px;"}
      %input{name: "b_8ffd71c4689a0f4eb8f9b2059_f96fbb1cfe", type: "text", value: ""}/
    .clear
      %input#mc-embedded-subscribe.button{name: "subscribe", type: "submit", value: "I'm going"}/
