html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}
html {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
caption, th, td {
    text-align: left;
    font-weight: 400;
    vertical-align: middle;
}
q, blockquote {
    quotes: none;
}
q:before, q:after, blockquote:before, blockquote:after {
    content: "";
    content: none;
}
a img {
    border: none;
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
    display: block;
}
.pln {
    color: black;
}
@media screen {
    .str {
    color: #008800;
}
.kwd {
    color: #000088;
}
.com {
    color: #880000;
}
.typ {
    color: #660066;
}
.lit {
    color: #006666;
}
.pun, .opn, .clo {
    color: #666600;
}
.tag {
    color: #000088;
}
.atn {
    color: #660066;
}
.atv {
    color: #008800;
}
.dec, .var {
    color: #660066;
}
.fun {
    color: red;
}


.hidden {
  display: none !important;
}

}@media print, projection {
    .str {
    color: #006600;
}
.kwd {
    color: #006;
    font-weight: 700;
}
.com {
    color: #600;
    font-style: italic;
}
.typ {
    color: #404;
    font-weight: 700;
}
.lit {
    color: #004444;
}
.pun, .opn, .clo {
    color: #444400;
}
.tag {
    color: #006;
    font-weight: 700;
}
.atn {
    color: #440044;
}
.atv {
    color: #006600;
}
}pre.prettyprint {
    padding: 2px;
    border: 1px solid #888888;
}
ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
}
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
    list-style-type: none;
}
li.L1, li.L3, li.L5, li.L7, li.L9 {
    background: #eeeeee;
}
pre.prettyprint {
    display: block;
    background-color: #333333;
}
pre .nocode {
    background-color: none;
    color: black;
}
pre .str {
    color: #ffa0a0;
}
pre .kwd {
    color: #f0e68c;
    font-weight: 700;
}
pre .com {
    color: skyblue;
}
pre .typ {
    color: palegreen;
}
pre .lit {
    color: indianred;
}
pre .pun {
    color: white;
}
pre .pln {
    color: white;
}
pre .tag {
    color: #f0e68c;
    font-weight: 700;
}
pre .atn {
    color: #bdb76b;
    font-weight: 700;
}
pre .atv {
    color: #ffa0a0;
}
pre .dec {
    color: palegreen;
}
ol.linenums {
    margin-top: 0;
    margin-bottom: 0;
    color: #aeaeae;
}
li.L0, li.L1, li.L2, li.L3, li.L5, li.L6, li.L7, li.L8 {
    list-style-type: none;
}
@media print {
    pre.prettyprint {
    background-color: none;
}
pre .str, code .str {
    color: #006600;
}
pre .kwd, code .kwd {
    color: #006;
    font-weight: 700;
}
pre .com, code .com {
    color: #600;
    font-style: italic;
}
pre .typ, code .typ {
    color: #404;
    font-weight: 700;
}
pre .lit, code .lit {
    color: #004444;
}
pre .pun, code .pun {
    color: #444400;
}
pre .pln, code .pln {
    color: black;
}
pre .tag, code .tag {
    color: #006;
    font-weight: 700;
}
pre .atn, code .atn {
    color: #440044;
}
pre .atv, code .atv {
    color: #006600;
}
}pre.prettyprint {
    border: 0;
    background: none;
    padding: 0 30px;
}
code {
    padding: 0;
    font-family: Monaco, Consolas, "Andale Mono WT", "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L", Monaco, "Courier New", Courier, monospace;
    color: #69aff8;
}
pre .kwd {
    color: #ff6e72;
}
pre .typ {
    color: #1abc9c;
}
pre .pun, pre .pln {
    color: #69aff8;
}
.highlight table {
    border-spacing: 0;
}
.highlight table td {
    padding: 5px;
}
.highlight table .gutter {
    text-align: right;
}
.highlight, .highlight .w {
    color: #586e75;
}
.highlight .err {
    color: #151515;
    background-color: #ac4142;
}
.highlight .c, .highlight .cm, .highlight .c1, .highlight .cs {
    color: #505050;
}
.highlight .cp {
    color: #f4bf75;
}
.highlight .nt {
    color: #f4bf75;
}
.highlight .o, .highlight .ow {
    color: #d0d0d0;
}
.highlight .p {
    color: #d0d0d0;
}
.highlight .gi {
    color: #90a959;
}
.highlight .g {
    color: #ac4142;
}
.highlight .gh {
    color: #6a9fb5;
    background-color: #151515;
    font-weight: 700;
}
.highlight .k, .highlight .kn, .highlight .kp, .highlight .kr {
    color: #aa759f;
}
.highlight .kc {
    color: #d28445;
}
.highlight .kt {
    color: #d28445;
}
.highlight .kd {
    color: #d28445;
}
.highlight .s, .highlight .sb, .highlight .sc, .highlight .sd, .highlight .s2, .highlight .sh, .highlight .sx, .highlight .s1 {
    color: #90a959;
}
.highlight .sr {
    color: #75b5aa;
}
.highlight .si {
    color: #8f5536;
}
.highlight .se {
    color: #8f5536;
}
.highlight .nn {
    color: #f4bf75;
}
.highlight .nc {
    color: #f4bf75;
}
.highlight .no {
    color: #f4bf75;
}
.highlight .na {
    color: #6a9fb5;
}
.highlight .m, .highlight .mf, .highlight .mh, .highlight .mi, .highlight .il, .highlight .mo {
    color: #90a959;
}
.highlight .ss {
    color: #90a959;
}
* {
    -webkit-font-smoothing: antialiased;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    background: #26272b;
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
*[class*="docs__"] {
    float: left;
}

#wrapper {
    margin: 0 auto;
    padding: 10px;
    position: relative;
    max-width: 1000px;
}
#sidebar {
    width: 20%;
    padding: 25px 0;
    position: fixed;
    top: 0;
    float: left;
}

#marionette-docs {
  margin: 20px 0;
}

#content {
    width: 80%;
    background: #ffffff;
    margin-left: 20%;
    padding: 0 30px 30px;
    position: relative;
    z-index: 2;
    color: #414141;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    float: left;
}
#content h1, #content h2, #content h3, #content h4, #content h5, #content h6 {
    font-size: 22px;
    margin: 30px 0;
    border-bottom: solid 1px #e8e8e8;
    padding-bottom: 10px;
}
#content ul {
    margin: 10px 0;
}
#content ul li {
    margin-top: 10px;
    font-size: 13px;
}
#content ul li a {
    text-decoration: none;
    border-bottom: solid 1px #e8e8e8;
}
#content ul li ul {
    margin-left: 20px;
}
#content p {
    font-size: 15px;
    line-height: 25px;
}
#content code {
    font-family: monospace;
    background: #F6F6F5;
    padding: 4px;
    color: #414141;
}
#content .highlight .err {
    color: #414141;
    background-color: transparent;
}
#content pre {
    font-family: monospace;
    padding: 20px;
    background: #fcfcfc;
    margin: 20px 0;
    border-radius: 2px;
    border: solid 1px #E8E8E8;
    word-wrap: break-word;
}
#content a {
    color: #2F2F2F;
    font-size: 14px;
    text-decoration: none;
}
.toc a, .hd h3 {
    color: #FFF;
    font-size: 14px;
}

.hd h3 {
  font-weight: 700;
}

.toc a h3 {
    margin: 0;
}
.toc a {
    margin-bottom: 15px;
    display: block;
    text-decoration: none;
    font-size: 13px;
}
.toc a h3 {
    font-weight: 700;
}
